<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1018049126968-6j7il712ivf1nhnju609tu9e4f2t8sia.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1018049126968-6j7il712ivf1nhnju609tu9e4f2t8sia</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1018049126968-63nesfummlhje5r3dc89mcd627ijk1sr.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCfHgctzn2WoGwZ2--XWCL1ud3TDfddiFA</string>
	<key>GCM_SENDER_ID</key>
	<string>1018049126968</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.marty.ng</string>
	<key>PROJECT_ID</key>
	<string>marty-1f41e</string>
	<key>STORAGE_BUCKET</key>
	<string>marty-1f41e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1018049126968:ios:1151b1de857c902ca9bccd</string>
	<key>DATABASE_URL</key>
	<string>https://marty-1f41e-default-rtdb.firebaseio.com</string>
</dict>
</plist>